html, body
{
    height: 100%;
    margin: 0;
    background-color: #d5deee;
    color: #292931;
    font-family: 'Raleway', sans-serif;
}


nav
    {
        width: 100%; height: 10%;
        display: flex;
        text-align: center;
        justify-content:flex-end; 
        align-items:center;
        align-content: space-around;
        
        border-bottom-color: #292931;
        
        box-sizing: border-box; 
        padding-right: 7%;
    }
        
        
        .a2, .a0, a
        {
            padding: 4%;
            
            text-decoration: none;
            color: #292931;
            font-family: 'Raleway', sans-serif;
        }
        
        .a2:hover
        {
             color: #006b4f;
             font-weight: bold;         
        }
         
        .a0
        {
              text-decoration: none;
              color: #59233a;
              font-weight: bold;
              font-size: larger;
              font-family: 'Raleway', sans-serif;
        }
        
        .a2
        {
            text-decoration: none;
            color: #292931; 
            font-family: 'Raleway', sans-serif;
        }
        
#content
{
    width: 80%; height: 80%;
    margin: auto;
}
    
   section
    {
    width: 100%; height: 100%;
    display: flex;
    }


        #a1
        {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
            
            #ba10
            {
                width: 50%; height: 30%;
                background-image:url("../img/logo02.png");
                background-size: 100%;
                background-repeat: no-repeat;
                display: flex;
                
                align-self: flex-start;
            }
            
            #ba11
            {
                width: 50%; height: 2%;
             
                display: flex;
                
                align-self: flex-start;
            }

            #ba12
            {
                width: 85%;    height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                align-self: flex-end;
                  
                /*border:solid 1px #292931;*/
                box-sizing: border-box; 
               
                text-align: justify;
            }
                    
                    p
                    {
                       
                    }
                    .p1
                        {
                            text-align: left;
                            font-weight: bold;
                    }
                    
                    .p3
                        {
                            text-align: right;
                        }
        #a2
        {
            flex: 1;
        }

            #ba20
                {
                    width: 100%; height: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                   
                }   
                
                #detalbox0
                {
                    width: 80%; height: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start; 
                    align-items: center;
                    
                    text-align: justify;
                    
                }
                
                img
                {
                    max-width: 100%;
                }

                
            #ba21
            {
                width: 100%; height: 40%;
                display: flex;
                justify-content: center; 
                align-items: center;
              
            }
                
                #detalbox
                {
                    width: 80%; height: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center; 
                    align-items: center;
                    
                    text-align: justify;
                    
                }
                    
                    #dbox1, #dbox2, #dbox3, #dbox4, #dbox5
                    {
                        display: flex;
                        align-items:center;
                        box-sizing: border-box; 
                        font-size: 19px;
                        /*border:solid 1px #000000;*/
                    }
                          
                          
                    #dbox4
                    {
                        order: 5;
                    }
                    
                    #dbox1, #dbox5
                    {
                        width: 60%; 
                    }
                    
                    #dbox3
                    {
                        width: 100%; 
                    }
                    
                      #dbox2, #dbox4
                    {
                        width: 40%; 
                    }
  

  
footer
{
    width: 100%; height: 10%;
}
 

#stopa
{
    width: 100%; height:100%;
    margin:0; padding: 0;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    font-size: 12px;
}

#stopa:hover
{
    color: #ffffff;
    font-weight: bold;     
}




/*
font-family: 'Raleway', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Limelight', cursive;
*/