html, body
{
height: 100%;
margin: 0;
background-color: #d5deee;
color: #292931;
font-family: 'Raleway', sans-serif;
}
nav
{
width: 100%; height: 10%;
display: flex;
text-align: center;
justify-content:flex-end; 
align-items:center;
align-content: space-around;
box-sizing: border-box; 
padding-right: 7%;
background-color: rgba(205, 214, 229, .6);
}
.a2, .a0, a
{
padding: 2% 4% 2% 4%;
box-sizing: border-box; 
text-decoration: none;
color: #292931;
font-family: 'Raleway', sans-serif;
}
.a2:hover
{
color: #006b4f;
font-weight: bold;         
}
.a0
{
text-decoration: none;
color: #59233a;
font-weight: bold;
font-size: larger;
font-family: 'Raleway', sans-serif;
}
.a2
{
text-decoration: none;
color: #292931; 
font-family: 'Raleway', sans-serif;
}
section
{
width: 80%; height: 80%;
margin: auto;
display: flex;
justify-content: center;
}
#a1
{
width: 50%;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
}         
#b11
{
width: 100%; height: 50%;
display: flex;
justify-content: flex-start; 
align-items: flex-start;
}
#ba10
{
width: 60%; height: 50%;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
flex-direction: column;
border:solid 0.25em #006b4f;
margin: 0; padding: 0;
}
.p8
{
font-family: 'Raleway', sans-serif;
font-size: 1.5em;
color: #006b4f;
margin: 0; padding-top: 7%;
width: 90%;
display: flex;
justify-content: center;
}
.p9
{
font-family: 'Archivo Black', sans-serif;
font-size: 2.4em;
color: #006b4f;
margin: 0; padding-bottom: 7%;
width: 90%;
display: flex;
justify-content: center;
}
img
{
max-height: 100%;
}  
#b12
{
width: 100%; height: 50%;
display: flex;
justify-content: flex-end;
align-items: center;
/*border:solid 1px #292931;*/
box-sizing: border-box; 
padding: 4%;
}
#a2
{
width: 50%;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
}
#b21
{
width: 100%;    height: 55%;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}   
img
{
max-width: 90%;
}
#b22
{
width: 100%;    height: 45%;
display: flex;
justify-content: flex-start;
align-items: center;
box-sizing: border-box; 
padding: 4%;
}
footer
{
width: 80%; height: 10%;
margin: auto;
display: flex;
justify-content:flex-end;
align-items: center;
}
#stopa
{
margin:0; padding: 0;
font-size: 0.8em;
background-color: rgba(205, 214, 229, .6);
}
#stopa:hover
{
color: #ffffff;
}
/*
font-family: 'Raleway', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Limelight', cursive;
*/
@media only screen and (max-width: 1000px)
{
html, body
{
height: auto;
}
nav
{
box-sizing: border-box; 
padding-right: 0;
display: flex;
justify-content:center;
padding-bottom: 5%;
padding-top: 5%;
}
section 
{
display: block;
padding-top: 10%;
}
#a1, #a2
{
width: 100%;
}
#b11
{
max-width: 100%; 
padding-bottom: 10%;
display: flex;
justify-content:center;
}
.p8, .p9
{
max-width: 95%;
}
#b21
{
width: 100%; 
}
img
{
max-width: 100%;
}
#ba10
{
width: 100%;
}
.aa0
{
width: 100%;
}
footer
{
width: 100%; height: 10%;
display: flex;
justify-content:center;
box-sizing: border-box; 
padding: 5%;
}
}