html, body
{
    height: 100%;
    margin: 0;
    background-color: #d5deee;
    color: #292931;
    font-family: 'Raleway', sans-serif;
    
}

body
{
    background-image:url("../img/INX07s.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    section
    {
        width: 70%; height: 70%;
        
        border:solid 12px #006b4f;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

        a 
        {
        
            text-decoration: none;
            color: #006b4f;
            
            text-align: center;
            font-size: 60px;
            
            display: flex;
            flex-direction: column;
        }



            #p5
            {
                font-family: 'Raleway', sans-serif;
                margin: 0; padding: 0;
            }
         
                
            #p3
            {
                font-family: 'Archivo Black', sans-serif;
                font-size: 95px;
                margin: 0; padding: 0;
            }
              
              a:hover
              {
              color: #59233a;
              }
              

/*
font-family: 'Raleway', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Limelight', cursive;
*/