html, body
{
    height: 100%;
    margin: 0;
    background-color: #d5deee;
    color: #292931;
    font-family: 'Raleway', sans-serif;
    
}

body
{
    background-image:url("../img/INX07s.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    section
    {
        width: 70%; height: 70%;
        
        border:solid 0.7em #006b4f;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

        a 
        {
        
            text-decoration: none;
            color: #006b4f;
            
            text-align: center;
            
            
            display: flex;
            flex-direction: column;
        }



            #p5
            {
                font-family: 'Raleway', sans-serif;
                font-size: 4em;
                margin: 0; padding: 0;
            }
         
                
            #p3
            {
                font-family: 'Archivo Black', sans-serif;
                font-size: 6.4em;
                margin: 0; padding: 0;
            }
              
              a:hover
              {
              color: #59233a;
              }
              

/*
font-family: 'Raleway', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Limelight', cursive;
*/

@media only screen and (min-width:699px)
{
   
section
 	  {
  	  flex-direction:row;
 	  flex-wrap:wrap;
  	  justify-content:space-around;
  }
   #p5, #p3
  {
    height: 90%;
  }
 }


@media only screen and (min-width:480px)
{
  section
  {
    flex-direction:row;
  }
  #p5, #p3
  {
    height:90%;
  }
}
